* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    color: #e5e7db;
}

.debug {
    border: 1px solid red;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.hero-container, footer {
    background-color: #1f2937;
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.hero-text, .header-link {
    font-size: 18px;
    color: #e5e7db;
}

.hero-text {
    padding-bottom: 16px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

button, .cta-box {
    background-color: #3882F6;
    color: #fff;
}

button {
    border-radius: 6px;
    padding: 6px 24px;
}

.info-container {
    padding-bottom: 75px;
    color: #1F2937;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    padding: 16px 0;
}

.card {
    text-align: center;
    width: 150px;
}

.card-img {
    border: 3px solid #3882F6;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

.quote-container {
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    padding: 100px;
}

.quote-text-container {
    width: 65%;
}

.quote-text {
    text-align: left;
}

.quote-person {
    font-size: 24px;
    font-weight: 800;
}

.cta-container {
    padding: 64px 150px;
}

.cta-box {
    border-radius: 4px;
    margin: 65px;
    padding: 32px 0;
}

.cta-header {
    font-size: 18px;
    font-weight: 800;
}

.cta-btn {
    border: 2px solid #fff;
}

/* FLEXBOX */

header {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}

ul {
    display: flex;
    gap: 16px;
}

.hero-container {
    padding: 0 150px;
}

.hero-text-container {
    display: flex;
    padding: 75px 0;
}

.hero-left {
    padding-right: 32px;
}

.hero-right {
    background-color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-left, .hero-right {
    width: 50%;
    height:200px;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container {
    display: flex;
    flex: auto;
    gap: 48px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-person-container {
    display: flex;
    justify-content: flex-end;
}

.cta-box {
    display: flex;
    justify-content: space-around;
}

footer {
    display: flex;
    justify-content: center;
    padding: 16px;
}
